@import url('https://fonts.googleapis.com/css2?family=Alex+Brush&family=Roboto:wght@300&display=swap');
*{
   margin:0;
   padding:0; 
}

.container{
    background: url(İletişim.jpeg);
    height: 150vh;
    background-size: 100% 100%;
    background-color: #C0C0C0;
}

.container .navbar{
    width:100%;
    height:200px;
    background:rgba(69, 74, 80, 0.8)
}

.navbar .logo{
    display: inline-block;
    margin-left: 7px;
    margin-top: 10px;

}

.navbar .logo a{
    margin-left: 600px;
    text-decoration: none;
    font-size: 120px;
    font-family: 'Alex Brush', cursive;
    color:black;
}

.navbar .logo3{
    display: inline-block;
    margin-left: 10px;
    margin-top: -60px;
}

.navbar .logo3 a{
    margin-left: 650px;
    margin-top: -50px;
    text-decoration: none;
    font-size: 40px;
    font-family: Roboto;
    color:black;
}

.container .navbar2{
    
    width: 100%;
    height: 70px;
    background: rgba(0, 0, 0,0.3)
}
.container .navbar2 UL{
    float:right;
    margin-right: 700px;
}

.navbar2 UL li{
    list-style:none;
    display:inline-block;
    margin:0 10px;
    line-height: 67px;
}

.navbar2 UL li a{
    color: white;
    text-decoration: none;
    font-size:25px;
    padding: 6px 13px;
    font-family:Roboto;
    transition:.5s;
}

.navbar2 UL li a.active,
.navbar2 UL li a:hover{
    background: #696565;
    border-radius: 2px;
}

.container .logo1 img{

    position: absolute;
    width: 190px;
    margin-top: -265px;
    margin-left: 1600px;
}

.container .btn {

    position: relative;
    width: 200px;
    height: 45px;
    border: 2px solid #ffd324;
    margin: 15px;
    margin-top: -60px;
    margin-left: 100px;
    text-align: center;
    line-height: 45px;
    overflow: hidden;
    border-radius: 3px;
}

.container .btn a{
    display: block;
    position: relative;
    font-family: Roboto;
    font-size: large;
    text-decoration: none;
    color: #ffd324;
    letter-spacing: 5px;
    font-weight: bold;
    z-index: 2;
    transition: all 0.5s ease;
}

.container .btn.btn_1::before{
    content: "";
    position: absolute;
    top: -60px;
    left: 0;
    width: 100%;
    height: 100%;
    transform: skewy(10deg);
    transition: all 0.5s ease;
    background:#ffd324;
}

.container .btn a:hover {color:#696565}

.container .btn.btn_1::after{
    content: "";
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    height: 100%;
    transform: skewy(10deg);
    transition: all 0.5s ease;
    background:#ffd324;
}

.container .btn.btn_1:hover::before {top:-20px;}
.container .btn.btn_1:hover::after {top:20px;}



